@value variables: '../../variables.css';
@value primary-font-stack, color-dark-grey, color-light-grey, primary-box-shadow from variables;

.profile {
  width: 100%;
  max-width: 500px;
  font-family: primary-font-stack;
  border-radius: 10px;
  box-shadow: primary-box-shadow;
}

.description {
  padding: 30px 70px;
  text-align: center;
  border-bottom: 1px solid color-light-grey;
}

.avatar {
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: color-dark-grey;
}

.location {
  font-size: 18px;
}

.tag,
.location {
  color: color-light-grey;
}

.stats {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.statsComponent {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 100%;
  padding: 15px 0;
  background-color: rgb(227, 227, 238);
  border-right: 1px solid color-light-grey;
}

.statsComponent:first-child {
  border-radius: 0 0 0 10px;
}

.statsComponent:last-child {
  border-right: none;
  border-radius: 0 0 10px 0;
}

.label {
  color: color-light-grey;
  margin-bottom: 5px;
}

.quantity {
  font-weight: bold;
  font-size: 18px;
  color: color-dark-grey;
}
